In [64]:
import pyupbit
import time
import json
import requests
import pandas as pd
import mysql.connector

##### DB연결

In [67]:
# MySQL 서버에 연결
mydb = mysql.connector.connect(
    host="127.0.0.1",
    user="root",
    password="1234",
    database="deepCoin"
)

# 연결이 제대로 되었는지 확인
if mydb.is_connected():
    print("MySQL 데이터베이스에 성공적으로 연결되었습니다.")
else:
    print("MySQL 데이터베이스 연결에 실패했습니다.")

# 커서 생성
mycursor = mydb.cursor()

MySQL 데이터베이스에 성공적으로 연결되었습니다.

##### DB 종목마스터 가져오기

In [50]:
# SELECT 쿼리 실행
mycursor.execute("SELECT * FROM c_krw_mst")

# 결과 가져오기
result = mycursor.fetchall()

# 튜플의 0번째 인덱스만 가져와서 마켓 리스트 생성
market_list = [t[0] for t in result]

##### 종목별 일봉데이터 가져오기

In [83]:
for market in market_list:
    pyupbit.get_ohlcv_from(ticker=market, interval="day", fromDatetime=None,
                   to=None, period=0.5)

In [62]:
market = "KRW-ASTR"
df = pyupbit.get_ohlcv_from(ticker=market, interval="day", fromDatetime=None,
                   to=None, period=0.5)
df['date'] = df.index
df['market'] = market
df = df[['date', 'market', 'open', 'high', 'low', 'close', 'volume', 'value']]

values = df.values.tolist()

In [69]:
mydb.close()

In [68]:
# KRW 종목 리스트 가져오기
columns = ['date', 'market', 'open', 'high', 'low', 'close', 'volume', 'value']

# 삽입할 테이블 이름
table_name = "c_krw_day"

# 데이터 삽입 쿼리 생성
sql = "INSERT INTO {} ({}) VALUES ({})".format(
    table_name,
    ', '.join(columns),
    ', '.join(['%s'] * len(columns))
)

# 데이터 삽입
mycursor.executemany(sql, values)

# 변경 사항 커밋
mydb.commit()
print(mycursor.rowcount, "레코드가 삽입되었습니다.")
mydb.close()

ProgrammingError: 1054 (42S22): Unknown column 'high' in 'field list'

##### 종목마스터 수집

In [4]:
pyupbit.get_tickers(fiat="KRW")

119

In [28]:
url = "https://api.upbit.com/v1/market/all?isDetails=true"
headers = {"accept": "application/json"}
response = requests.get(url, headers=headers)

mst_json = json.loads(response.text)
df = pd.DataFrame(mst_json)
df = df[['market', 'korean_name', 'english_name', 'market_warning']]
df = df[df['market'].str.contains('KRW')].reset_index(drop=True)


# DB생성용 Master 항목당 최대 길이 출력
max_length = df['market'].str.len().max()
max_string = df[df['market'].str.len() == max_length]['market'].iloc[0]
# print(max_string, len(max_string))

# DataFrame을 튜플의 리스트로 변환
values = df.values.tolist()

# 컬럼명 리스트
columns = df.columns.tolist()

# 삽입할 테이블 이름
table_name = "c_krw_mst"

In [29]:
values

[['KRW-BTC', '비트코인', 'Bitcoin', 'NONE'],
 ['KRW-ETH', '이더리움', 'Ethereum', 'NONE'],
 ['KRW-NEO', '네오', 'NEO', 'NONE'],
 ['KRW-MTL', '메탈', 'Metal', 'NONE'],
 ['KRW-XRP', '리플', 'Ripple', 'NONE'],
 ['KRW-ETC', '이더리움클래식', 'Ethereum Classic', 'NONE'],
 ['KRW-SNT', '스테이터스네트워크토큰', 'Status Network Token', 'NONE'],
 ['KRW-WAVES', '웨이브', 'Waves', 'NONE'],
 ['KRW-XEM', '넴', 'NEM', 'NONE'],
 ['KRW-QTUM', '퀀텀', 'Qtum', 'NONE'],
 ['KRW-LSK', '리스크', 'Lisk', 'NONE'],
 ['KRW-STEEM', '스팀', 'Steem', 'NONE'],
 ['KRW-XLM', '스텔라루멘', 'Lumen', 'NONE'],
 ['KRW-ARDR', '아더', 'Ardor', 'NONE'],
 ['KRW-ARK', '아크', 'Ark', 'NONE'],
 ['KRW-STORJ', '스토리지', 'Storj', 'NONE'],
 ['KRW-GRS', '그로스톨코인', 'Groestlcoin', 'NONE'],
 ['KRW-ADA', '에이다', 'Ada', 'NONE'],
 ['KRW-SBD', '스팀달러', 'SteemDollars', 'NONE'],
 ['KRW-POWR', '파워렛저', 'Power ledger', 'NONE'],
 ['KRW-BTG', '비트코인골드', 'Bitcoin Gold', 'NONE'],
 ['KRW-ICX', '아이콘', 'Icon', 'NONE'],
 ['KRW-EOS', '이오스', 'EOS', 'NONE'],
 ['KRW-TRX', '트론', 'TRON', 'NONE'],
 ['KRW-SC', '시아코인', 'Siacoin', 'NONE'],
 ['KRW-ONT', '온톨로지', 'Ontology', 'NONE'],
 ['KRW-ZIL', '질리카', 'Zilliqa', 'NONE'],
 ['KRW-POLYX', '폴리매쉬', 'Polymesh', 'NONE'],
 ['KRW-ZRX', '제로엑스', '0x Protocol', 'NONE'],
 ['KRW-LOOM', '룸네트워크', 'Loom Network', 'NONE'],
 ['KRW-BCH', '비트코인캐시', 'Bitcoin Cash', 'NONE'],
 ['KRW-BAT', '베이직어텐션토큰', 'Basic Attention Token', 'NONE'],
 ['KRW-IOST', '아이오에스티', 'IOST', 'NONE'],
 ['KRW-CVC', '시빅', 'Civic', 'NONE'],
 ['KRW-IQ', '아이큐', 'IQ.wiki', 'NONE'],
 ['KRW-IOTA', '아이오타', 'IOTA', 'NONE'],
 ['KRW-HIFI', '하이파이', 'Hifi Finance', 'NONE'],
 ['KRW-ONG', '온톨로지가스', 'ONG', 'NONE'],
 ['KRW-GAS', '가스', 'GAS', 'NONE'],
 ['KRW-UPP', '센티넬프로토콜', 'Sentinel Protocol', 'NONE'],
 ['KRW-ELF', '엘프', 'aelf', 'NONE'],
 ['KRW-KNC', '카이버네트워크', 'Kyber Network', 'NONE'],
 ['KRW-BSV', '비트코인에스브이', 'Bitcoin SV', 'NONE'],
 ['KRW-THETA', '쎄타토큰', 'Theta Token', 'NONE'],
 ['KRW-QKC', '쿼크체인', 'QuarkChain', 'NONE'],
 ['KRW-BTT', '비트토렌트', 'BitTorrent', 'NONE'],
 ['KRW-MOC', '모스코인', 'Moss Coin', 'NONE'],
 ['KRW-TFUEL', '쎄타퓨엘', 'Theta Fuel', 'NONE'],
 ['KRW-MANA', '디센트럴랜드', 'Decentraland', 'NONE'],
 ['KRW-ANKR', '앵커', 'Ankr', 'NONE'],
 ['KRW-AERGO', '아르고', 'Aergo', 'NONE'],
 ['KRW-ATOM', '코스모스', 'Cosmos', 'NONE'],
 ['KRW-TT', '썬더코어', 'ThunderCore', 'NONE'],
 ['KRW-CRE', '캐리프로토콜', 'Carry Protocol', 'NONE'],
 ['KRW-MBL', '무비블록', 'MovieBloc', 'NONE'],
 ['KRW-WAXP', '왁스', 'WAX', 'NONE'],
 ['KRW-HBAR', '헤데라', 'Hedera', 'NONE'],
 ['KRW-MED', '메디블록', 'MediBloc', 'NONE'],
 ['KRW-MLK', '밀크', 'MiL.k', 'NONE'],
 ['KRW-STPT', '에스티피', 'Standard Tokenization Protocol', 'NONE'],
 ['KRW-ORBS', '오브스', 'Orbs', 'NONE'],
 ['KRW-VET', '비체인', 'VeChain', 'NONE'],
 ['KRW-CHZ', '칠리즈', 'Chiliz', 'NONE'],
 ['KRW-STMX', '스톰엑스', 'StormX', 'NONE'],
 ['KRW-DKA', '디카르고', 'dKargo', 'NONE'],
 ['KRW-HIVE', '하이브', 'Hive', 'NONE'],
 ['KRW-KAVA', '카바', 'Kava', 'NONE'],
 ['KRW-AHT', '아하토큰', 'AhaToken', 'NONE'],
 ['KRW-LINK', '체인링크', 'Chainlink', 'NONE'],
 ['KRW-XTZ', '테조스', 'Tezos', 'NONE'],
 ['KRW-BORA', '보라', 'BORA', 'NONE'],
 ['KRW-JST', '저스트', 'JUST', 'NONE'],
 ['KRW-CRO', '크로노스', 'Cronos', 'NONE'],
 ['KRW-TON', '톤', 'TON', 'NONE'],
 ['KRW-SXP', '솔라', 'SXP', 'NONE'],
 ['KRW-HUNT', '헌트', 'HUNT', 'NONE'],
 ['KRW-PLA', '플레이댑', 'PlayDapp', 'NONE'],
 ['KRW-DOT', '폴카닷', 'Polkadot', 'NONE'],
 ['KRW-MVL', '엠블', 'MVL', 'NONE'],
 ['KRW-STRAX', '스트라티스', 'Stratis', 'NONE'],
 ['KRW-AQT', '알파쿼크', 'Alpha Quark Token', 'NONE'],
 ['KRW-GLM', '골렘', 'Golem', 'NONE'],
 ['KRW-SSX', '썸씽', 'SOMESING', 'CAUTION'],
 ['KRW-META', '메타디움', 'Metadium', 'NONE'],
 ['KRW-FCT2', '피르마체인', 'FirmaChain', 'NONE'],
 ['KRW-CBK', '코박토큰', 'Cobak Token', 'NONE'],
 ['KRW-SAND', '샌드박스', 'The Sandbox', 'NONE'],
 ['KRW-HPO', '히포크랏', 'Hippocrat', 'NONE'],
 ['KRW-DOGE', '도지코인', 'Dogecoin', 'NONE'],
 ['KRW-STRK', '스트라이크', 'Strike', 'NONE'],
 ['KRW-PUNDIX', '펀디엑스', 'Pundi X', 'NONE'],
 ['KRW-FLOW', '플로우', 'Flow', 'NONE'],
 ['KRW-AXS', '엑시인피니티', 'Axie Infinity', 'NONE'],
 ['KRW-STX', '스택스', 'Stacks', 'NONE'],
 ['KRW-XEC', '이캐시', 'eCash', 'NONE'],
 ['KRW-SOL', '솔라나', 'Solana', 'NONE'],
 ['KRW-MATIC', '폴리곤', 'Polygon', 'NONE'],
 ['KRW-AAVE', '에이브', 'Aave', 'NONE'],
 ['KRW-1INCH', '1인치네트워크', '1inch Network', 'NONE'],
 ['KRW-ALGO', '알고랜드', 'Algorand', 'NONE'],
 ['KRW-NEAR', '니어프로토콜', 'NEAR Protocol', 'NONE'],
 ['KRW-AVAX', '아발란체', 'Avalanche', 'NONE'],
 ['KRW-T', '쓰레스홀드', 'Threshold', 'NONE'],
 ['KRW-CELO', '셀로', 'Celo', 'NONE'],
 ['KRW-GMT', '스테픈', 'Stepn', 'NONE'],
 ['KRW-APT', '앱토스', 'Aptos', 'NONE'],
 ['KRW-SHIB', '시바이누', 'Shiba Inu', 'NONE'],
 ['KRW-MASK', '마스크네트워크', 'Mask Network', 'NONE'],
 ['KRW-ARB', '아비트럼', 'Arbitrum', 'NONE'],
 ['KRW-EGLD', '멀티버스엑스', 'MultiversX', 'NONE'],
 ['KRW-SUI', '수이', 'Sui', 'NONE'],
 ['KRW-GRT', '더그래프', 'The Graph', 'NONE'],
 ['KRW-BLUR', '블러', 'Blur', 'NONE'],
 ['KRW-IMX', '이뮤터블엑스', 'Immutable X', 'NONE'],
 ['KRW-SEI', '세이', 'Sei', 'NONE'],
 ['KRW-MINA', '미나', 'Mina', 'NONE'],
 ['KRW-CTC', '크레딧코인', 'Creditcoin', 'NONE'],
 ['KRW-ASTR', '아스타', 'Astar', 'NONE'],
 ['KRW-ID', '스페이스아이디', 'SPACE ID', 'NONE']]

In [5]:
# KRW 종목 리스트 가져오기
columns = pyupbit.get_tickers(fiat="KRW")

# 삽입할 테이블 이름
table_name = "c_krw_mst"

# 데이터 삽입 쿼리 생성
sql = "INSERT INTO {} ({}) VALUES ({})".format(
    table_name,
    ', '.join(columns),
    ', '.join(['%s'] * len(columns))
)

# 데이터 삽입
mycursor.executemany(sql, values)

# 변경 사항 커밋
mydb.commit()
print(mycursor.rowcount, "레코드가 삽입되었습니다.")
mydb.close()

NameError: name 'table_name' is not defined

In [ ]:
market_list

['KRW-1INCH',
 'KRW-AAVE',
 'KRW-ADA',
 'KRW-AERGO',
 'KRW-AHT',
 'KRW-ALGO',
 'KRW-ANKR',
 'KRW-APT',
 'KRW-AQT',
 'KRW-ARB',
 'KRW-ARDR',
 'KRW-ARK',
 'KRW-ASTR',
 'KRW-ATOM',
 'KRW-AVAX',
 'KRW-AXS',
 'KRW-BAT',
 'KRW-BCH',
 'KRW-BLUR',
 'KRW-BORA',
 'KRW-BSV',
 'KRW-BTC',
 'KRW-BTG',
 'KRW-BTT',
 'KRW-CBK',
 'KRW-CELO',
 'KRW-CHZ',
 'KRW-CRE',
 'KRW-CRO',
 'KRW-CTC',
 'KRW-CVC',
 'KRW-DKA',
 'KRW-DOGE',
 'KRW-DOT',
 'KRW-EGLD',
 'KRW-ELF',
 'KRW-EOS',
 'KRW-ETC',
 'KRW-ETH',
 'KRW-FCT2',
 'KRW-FLOW',
 'KRW-GAS',
 'KRW-GLM',
 'KRW-GMT',
 'KRW-GRS',
 'KRW-GRT',
 'KRW-HBAR',
 'KRW-HIFI',
 'KRW-HIVE',
 'KRW-HPO',
 'KRW-HUNT',
 'KRW-ICX',
 'KRW-IMX',
 'KRW-IOST',
 'KRW-IOTA',
 'KRW-IQ',
 'KRW-JST',
 'KRW-KAVA',
 'KRW-KNC',
 'KRW-LINK',
 'KRW-LOOM',
 'KRW-LSK',
 'KRW-MANA',
 'KRW-MASK',
 'KRW-MATIC',
 'KRW-MBL',
 'KRW-MED',
 'KRW-META',
 'KRW-MINA',
 'KRW-MLK',
 'KRW-MOC',
 'KRW-MTL',
 'KRW-MVL',
 'KRW-NEAR',
 'KRW-NEO',
 'KRW-ONG',
 'KRW-ONT',
 'KRW-ORBS',
 'KRW-PLA',
 'KRW-POLYX',
 'KRW-POWR',
 'KRW-PUNDIX',
 'KRW-QKC',
 'KRW-QTUM',
 'KRW-SAND',
 'KRW-SBD',
 'KRW-SC',
 'KRW-SEI',
 'KRW-SHIB',
 'KRW-SNT',
 'KRW-SOL',
 'KRW-SSX',
 'KRW-STEEM',
 'KRW-STMX',
 'KRW-STORJ',
 'KRW-STPT',
 'KRW-STRAX',
 'KRW-STRK',
 'KRW-STX',
 'KRW-SUI',
 'KRW-SXP',
 'KRW-T',
 'KRW-TFUEL',
 'KRW-THETA',
 'KRW-TON',
 'KRW-TRX',
 'KRW-TT',
 'KRW-UPP',
 'KRW-VET',
 'KRW-WAVES',
 'KRW-WAXP',
 'KRW-XEC',
 'KRW-XEM',
 'KRW-XLM',
 'KRW-XRP',
 'KRW-XTZ',
 'KRW-ZIL',
 'KRW-ZRX']